@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --color-primary: #f9ed69;
    --color-secondary: #f08a5d;
    --color-tertiary: #b83b5e;
    --color-quaternary: #6a2c70;
    --color-quinary: #1e1f26;
    --color-white: #fff;
    --color-grey-light: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Styles for sections */

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: 700;
    color: rgba(0,0,0,0.25);
    text-transform: uppercase;
    background: var(--clr);
}

/* Styles for Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.6s;
}

/* Style for Logo */

.logo{
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0px 10px 50px;

}

header nav{
    display: flex;
    gap: 15px;

}

header nav a{
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-weight: 500;
}

header nav a.active{
    background: var(--clr);
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header nav a.active::before{
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);

}


header nav a.active::after{
    content: '';
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px var(--clr);

}