/* Image Slider #1 - HTML & CSS - CSS File */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Whole Document */

body{
    font-family: 'Roboto' , sans-serif;
    width: 100vw;
    height: 100vh;

}

/* Slider */

.slider > div {
    width: 100%; 
    position: absolute;
    left:0;
    top:0;
    transition: all 0.5s ease-in;
    overflow: hidden;
}

.slider > div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #2bdd757e;
    opacity: 0.3;
}

.slider img{
    width: 120%;
    height: 120%;
}

